<p>¿Qué es Angular?
Es un framework de JavaScript, creado y mantenido por google, es de código abierto, y está
escrito en TypeScript. Su objetivo es desarrollar páginas SPA (single-page application) web
de una sola página.</p>
<ul type="square">
    <li>Edith Nuñez</li> 
    <li>Víctor Astorga</li> 
    <li>Matias Ballester</li>
    <li>Facundo Castillo</li> 
    <li>David Clavero</li> 
    <li>Facundo Di Marco</li> 
    <li>Ana Fiorita</li> 
    <li>Juanjo Guerrero</li>
    <li>Carolina Guinazu</li>
    <li>Rodrigo Guinazu</li> 
    <li>Carolina Guinazu</li> 
    <li>katherina impa</li> 
    <li>Ignacio Lovato</li> 
    <li>matias maza</li> 
    <li>Esther Mirabal</li>  
    <li>ana moyano</li>  
    <li>Maxi N</li>   
    
</ul>
